@import "tailwindcss";
@import "tw-animate-css";
@import "@lusabaini/ui/styles.css";

@source "../../node_modules/@lusabaini/ui";
@source "../../../packages/ui/src";

@custom-variant dark (&:is(.dark *));

html,
body {
  min-height: 100%;
  min-height: 100svh;
  min-height: -webkit-fill-available;
  overflow-x: hidden;
}

html {
  scroll-behavior: auto;
}

body {
  font-family: var(--font-geist-sans), sans-serif;
  min-height: 100vh;
}
