NEXT_PUBLIC_SANITY_PROJECT_ID=0hp0ah4w
NEXT_PUBLIC_SANITY_DATASET=consultancy
NEXT_PUBLIC_SITE_DOMAIN=localhost:3001
REVALIDATE_SECRET=change-me
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=
SMTP_FROM="Consultoria Contato <contato@example.com>"
CONTACT_EMAIL=
